<div id="pause" class="d-flex align-items-center justify-content-center" *ngIf="showLoader">
  <div id="spinner"></div>
</div>
<div class="mainClass">
  <div class="setClassWidth">
    <div class="sertMargin">
     <app-finder-view-component (getTextData)="submitText($event)" [error]="error" [checkClearText]="checkClearText"></app-finder-view-component>
    </div>
    <div class="sertMargin paddingTop">
      <mat-card  class="card">
        <mat-card-content>
          <button mat-raised-button color="primary" (click)="clearData()">Clear Result</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="setClassWidth">
    <app-card-view-component [getData]="listOfData" [searchName]="searchNameInput"></app-card-view-component>
  </div>
</div>
