
#spinner {
  animation: frames 1s infinite linear;
  background: transparent;
  border: 1.75vw solid #FFF;
  border-radius: 100%;
  border-top-color: #DF691A;
  width: 5vw;
  height: 5vw;
  opacity: 0.6;
  padding: 0;
  position: absolute;
  z-index: 999;
  margin: 0 50%;
}
@keyframes frames {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
  }
}

#pause {
	display: block;
	background:
		rgba(0, 0, 0, 0.66)
		no-repeat
		0 0;
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}
.setClassWidth{
  width: 50%;
}
.mainClass{
  display: flex;
}
.paddingTop{
  padding-top: 20%;
}

.sertMargin{
  margin:0 50px 0px 0px
}
.setButton{
  display: block;
}
.floarRight{
  float: right;
}
.setPadding{
  padding-bottom:44px ;
}
