<!-- This wrapper is necessary for applying multiple themes -->
<div class="mat-app-background">
  <!-- Toolbar -->
  <mat-toolbar color="primary">
    <span class="toolbar">NHTSA Viewer</span>

    <button mat-icon-button
      matTooltip="Toggle theme"
      aria-label="Example icon-button with share icon" (click)="toggleTheme()">
      <mat-icon>invert_colors</mat-icon>
    </button>
  </mat-toolbar>
  <!-- Content -->
  <div class="content">
    <app-view-main-component></app-view-main-component>
  </div>

</div>

