
.setOverFlow{
    max-height:250px;
    overflow-y:scroll;
}
.setOverFlow::-webkit-scrollbar {
  display: none;
}
.setOverFlow {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
