<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title>{{searchName? (searchName |uppercase) : 'No Master Name'}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <label>Manufacturers:</label>
    <div *ngIf="(!getData || !getData?.Results || getData?.Results.length == 0) else ShowData">
      No Manufacturers list
    </div>
    <ng-template #ShowData >
      <div class="setOverFlow">
        <div *ngFor="let x of  getData?.Results; let i = index">
          {{i+1}}.{{x?.Mfr_Name}}
        </div>
      </div>

    </ng-template>

  </mat-card-content>
</mat-card>
