<mat-card class="card setPadding">
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title>Finder</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="finderFormGroup"  (ngSubmit)="onSubmit()" class="example-form">
      <mat-form-field class="setButton">
        <mat-label>Make Name</mat-label>
        <input matInput [ngModel]="makeName" formControlName="makeName" >
        <mat-error *ngIf="checkError('makeName', 'required')">Make Name is required</mat-error>
        <mat-error *ngIf="checkError('makeName', 'pattern')">Special Characters Not Allow</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!finderFormGroup.valid" class="setButton floarRight">Search</button>
      <p *ngIf="error">Error : {{error.message}}</p>
    </form>
  </mat-card-content>
</mat-card>
