.setClassWidth{
  width: 50%;
}
.mainClass{
  display: flex;
}
.paddingTop{
  padding-top: 20%;
}

.sertMargin{
  margin:0 50px 0px 0px
}
.setButton{
  display: block;
}
.floarRight{
  float: right;
}
.setPadding{
  padding-bottom:44px ;
}
